Noncompliant output: line length too long

I am using this library to send emails. However, some emails can not be delivered and the recepiant server responds with a mail delivery error:

```
This is the Mail-Delivery-Service.

I'm sorry to have to inform you that your message could not
be delivered to one or more recipients.
For further assistance, please contact your Mailadmin.

	From: **redacted**
	To: **redacted**
	Subject: **redacted**

**redacted ip address** reply 554 Too long line was received. Transmission aborted.
```

Investigating this issue, the cause is this library. RFC 2822 and RFC 2045 define the following requirements regarding line length, which it seems like this library has not implemented:

|          Component         |                  Limit                  |             Reference            |
|:--------------------------:|:---------------------------------------:|:--------------------------------:|
| Header Line Length         | 998 chars (max), 78 chars (recommended) | RFC 2822 §2.1.1, RFC 5322 §2.1.1 |
| Header Folding             | Uses CRLF SP or CRLF HTAB               | RFC 2822 §2.2.3                  |
| Message Body Line Length   | 998 chars (max), 76 chars (recommended) | RFC 2045 §6.7, rule 5              |
| Base64 Encoding Splitting  | Lines must be ≤76 chars                 | RFC 2045 §6.8                    |